@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<li>@Html.ActionLink("Материалы", "index", "Materials")</li>
<li></li>
<li>@Html.ActionLink("Производитель лифта", "index", "ElevatorProducers")</li>
<li>@Html.ActionLink("Грузоподьёмность", "index", "ElevatorCapacities")</li>
<li>@Html.ActionLink("Тип подвески", "index", "ElevatorSuspensionTypes")</li>
<li>@Html.ActionLink("Тип Лифта", "index", "ElevatorTypes")</li>
<li>@Html.ActionLink("Вид оборудования", "index", "ElevatorViews")</li>
<li>@Html.ActionLink("Тип контроллера", "index", "ElevatorControllers")</li>
<li>@Html.ActionLink("Тип привода", "index", "ElevatorDriveTypes")</li>
<li>@Html.ActionLink("Состояние лифта", "index", "ElevatorNowStatus")</li>


<li>@Html.ActionLink("Банк", "index", "ClientsBanks")</li>
<li>@Html.ActionLink("Мощность привода", "index", "ElevatorDrivePowers")</li>
<li>@Html.ActionLink("Город", "index", "LocationCities")</li>

<li>@Html.ActionLink("Мера", "index", "Metrics")</li>
<li>@Html.ActionLink("Механники", "index", "People")</li>

