@model IEnumerable<Elevator.Web.Models.EE.Dictionary.ElevatorNowStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElevatorNowStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ElevatorNowStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ElevatorNowStatusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ElevatorNowStatusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ElevatorNowStatusId })
        </td>
    </tr>
}

</table>
