@model Elevator.Web.Models.EE.Operational.ServiceBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Elevator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elevator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceBoardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
