@model IEnumerable<Elevator.Web.Models.EE.Dictionary.AdditionExpend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddExpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddExpBasePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddExpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddExpBasePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdditionExpendId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdditionExpendId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdditionExpendId })
        </td>
    </tr>
}

</table>
